/*
common
*/
.linebox{border: 1px solid #cfd0d3}

h2{ font-size: 15px; font-weight: bold;color: #333333; margin: 0; padding: 6px 10px}

table.list{ width: 100%;}
table.list th,table.list td{padding:5px; text-align:left;}
table.list th,table.list td,table.list a{font-size: 12px; color:#666 }
table.list td.reward{color: #3987cc ;font-weight: bold;}
table.list .no{font-size: 14px; font-style: italic;}

.inner-title{height: 10%; clear: both;}


.h5p{height: 5%; }
.h15p{height: 15%; }
.h20p{height: 20%; }
.inner-wrap{clear: both; padding: 3px}

/*
current page style
*/
/* Main */ 

/* Main // Wrappers */ 
.wrap { margin: 0  auto; padding: 5px 0; width: 960px; }
/*
.header
*/
.header{ height: 70px; position: relative;top: 3px}
.header .logo h1{ margin: 0}
.header .logo a{ text-indent: -9999px; display: block;width: 270px; height: 62px;background: url("../images/index/logo.jpg") no-repeat; }
.header .nav {margin-top: 10px; margin-left: 50px; }

.header .nav a{float: left;display: inline-block; margin-right: 40px; height: 40px; line-height: 40px;font-size: 18px; padding:10px 5px; color: black}
.header .nav a.current{background: url("../images/index/nav_active.gif") center bottom no-repeat;}
.header .nav a.last{margin-right: 0}

.search{margin-top: 25px ; margin-right: 10px}
.header .search input{border: 2px solid #3987cc;}
#search-key{ border-right: none; height: 24px; padding: 0 3px}
#search-type{border-right: none}
#search-btn{border-left: none;  font-size: 12px; height: 28px; width: 60px; padding: 0; background:#5aadf7  url("../images/index/search_icon.gif") center no-repeat}

.account { margin-top: 25px;   height: 28px;}
.account a{text-decoration: none; display: inline-block; color: white; font-size: 12px;text-align: center;height: 28px; line-height: 28px;background-color:#5aadf7; width: 80px;}

.content{border-top: #3987cc solid 3px;padding-top: 17px;}

.main-content{ width: 960px;}
	.line1{height: 312px;}
	.line2{height: 212px}
	.line1,.line2{ margin-bottom: 15px}
	.slider{width: 625px;height:310px;}
	.sliderWrap{width: 100%; height: 100%}

	.rewards{ height: 210px; width: 310px}
	.rewards .inner-wrap{background: url("../images/index/top_bg.gif") top center no-repeat;width: 300px; margin: 0 auto}
	.rewards .inner-wrap table{}
	.rewards .first td{ height: 61px; color: #ffffff; vertical-align: middle;}
	.rewards .first td.no{color: #ffffff;width: 10%}
	.rewards .first td.reward{color: #ffffff; width: 33%; font-size: 18px;}

	.infos{ height: 310px;background:#347bb8  url("../images/index/infos_bg.gif") no-repeat; border-color: #347bb8}
	.infos .tabs-headlinks{margin: 80px 20px 0 20px;}
	.infos .tabs-headlinks li{width: 90px;height: 35px;text-align: center;background: #58acf4;line-height: 35px;}
	.infos .tabs-headlinks li a{color: white;font-size: 12px;}
	.infos .tabs-headlinks li.active{background: white;}
	.infos .tabs-headlinks li.active a{color: #666;}
	.infos .tabs-content{margin: 0 20px; background: white; height: 175px;}
	.infos .tab{padding: 15px 10px  0 10px;}
	.infos .tab td{padding:  3px;font-size: 12px; color: #000 }
	.infos .tab a{font-size: 12px;color: #000}

	.latest-tasks,.easy-tasks{width: 302px;height:210px;}
/*	.latest-tasks .inner-wrap{width: 90%; margin: 0 auto}
	.latest-tasks table td,.latest-tasks table th{padding: 5px}
	.latest-tasks a,.latest-tasks td,.latest-tasks th{font-size: 12px; color: #666666}*/


	.winning-works{width: 958px;height:210px;}
	.winning-works-wrap{width: 97%;height: 80%; margin:  0 auto}

.category{width: 623px}
.category dt{ font-size: 14px; padding: 2px 10px; color: #3282d2; font-weight: bold;}
.category dt a{text-decoration: underline;color: #3282d2;font-weight: bold;}
.category dd{ margin-bottom: 20px; }
.category dd a{font-size: 12px;color: #666666; display: inline-block; padding: 2px 10px}
.category dd a.hot{color: #f30}





.top-services{width: 310px; height: 294px}
/*.tasks .task-bar table{ width: 100%;}
.tasks .task-bar th,.tasks .task-bar td{ font-size: 12px; border: none; text-align: center;color: #666}
.tasks .task-bar td.reward{color: #3987cc; font-weight: bold;}
.tasks .task-bar td a{font-size: 12px; color: #666}*/




